<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cardBack_blue1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,263},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardBack_blue2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,359},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardBack_blue3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,167},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardBack_blue4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,71},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardBack_blue5.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,480},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardBack_green1.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,768},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardBack_green2.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,672},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardBack_green3.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,576},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardBack_green4.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,480},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardBack_green5.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,384},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardBack_red1.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,288},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardBack_red2.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,192},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardBack_red3.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,96},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardBack_red4.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,0},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardBack_red5.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,864},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardClubs10.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,0},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardClubs2.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,768},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardClubs3.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,672},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardClubs4.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,576},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardClubs5.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,480},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardClubs6.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,384},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardClubs7.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,288},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardClubs8.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,192},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardClubs9.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,96},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardClubsA.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,864},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardClubsJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,768},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardClubsK.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,672},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardClubsQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,576},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardDiamonds10.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,672},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardDiamonds2.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,480},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardDiamonds3.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,384},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardDiamonds4.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,288},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardDiamonds5.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,192},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardDiamonds6.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,96},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardDiamonds7.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,0},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardDiamonds8.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,864},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardDiamonds9.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,768},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardDiamondsA.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,576},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardDiamondsJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,864},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardDiamondsK.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,384},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardDiamondsQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,288},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardHearts10.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,384},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardHearts2.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,192},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardHearts3.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,96},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardHearts4.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,0},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardHearts5.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,864},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardHearts6.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,768},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardHearts7.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,672},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardHearts8.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,576},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardHearts9.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,480},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardHeartsA.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,288},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardHeartsJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,192},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardHeartsK.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,96},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardHeartsQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,0},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardJoker.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,839},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardSpades10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,839},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardSpades2.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,743},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardSpades3.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,647},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardSpades4.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,551},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardSpades5.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,455},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardSpades6.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,359},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardSpades7.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,263},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardSpades8.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,167},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardSpades9.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,71},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardSpadesA.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,743},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardSpadesJ.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,647},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardSpadesK.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,551},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>cardSpadesQ.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,455},{70,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,95}}</string>
				<key>sourceSize</key>
				<string>{70,95}</string>
			</dict>

			<key>sprites.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{140,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,70}}</string>
				<key>sourceSize</key>
				<string>{140,70}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>